body {
  margin: 0;
  padding: 0;
  background-size: contain;
  background-repeat: repeat;
  background: rgb(104, 0, 81);
}

#page-container {
  max-width: 1300px;

  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 40px auto;
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.bar-box {
  width: 500px;
  height: 400px;
  background-color: #ccc;
  margin-right: 20px;
  border-radius: 8px;
}

.text p {
  margin: 0;
  font-size: 18px;
}

#gaming_pie,
#radar_chart,
#choropleth_map,
#scatter_plot {
  margin-top: 40px;
}
